/.idea/
TelcoOutputAnalysis.m
Strategy2waitingTimesCorporate9.csv
Strategy2waitingTimesCorporate8.csv
Strategy2waitingTimesCorporate7.csv
Strategy2waitingTimesCorporate6.csv
Strategy2waitingTimesCorporate5.csv
Strategy2waitingTimesCorporate4.csv
Strategy2waitingTimesCorporate3.csv
Strategy2waitingTimesCorporate2.csv
Strategy2waitingTimesCorporate14.csv
Strategy2waitingTimesCorporate13.csv
Strategy2waitingTimesCorporate12.csv
Strategy2waitingTimesCorporate11.csv
Strategy2waitingTimesCorporate10.csv
Strategy2waitingTimesCorporate1.csv
Strategy2waitingTimesCorporate0.csv
Strategy2waitingTimesConsumer9.csv
Strategy2waitingTimesConsumer8.csv
Strategy2waitingTimesConsumer7.csv
Strategy2waitingTimesConsumer6.csv
Strategy2waitingTimesConsumer5.csv
Strategy2waitingTimesConsumer4.csv
Strategy2waitingTimesConsumer3.csv
Strategy2waitingTimesConsumer2.csv
Strategy2waitingTimesConsumer14.csv
Strategy2waitingTimesConsumer13.csv
Strategy2waitingTimesConsumer12.csv
Strategy2waitingTimesConsumer11.csv
Strategy2waitingTimesConsumer10.csv
Strategy2waitingTimesConsumer1.csv
Strategy2waitingTimesConsumer0.csv
Strategy2informationCalls9.csv
Strategy2informationCalls8.csv
Strategy2informationCalls7.csv
Strategy2informationCalls6.csv
Strategy2informationCalls5.csv
Strategy2informationCalls4.csv
Strategy2informationCalls3.csv
Strategy2informationCalls2.csv
Strategy2informationCalls14.csv
Strategy2informationCalls13.csv
Strategy2informationCalls12.csv
Strategy2informationCalls11.csv
Strategy2informationCalls10.csv
Strategy2informationCalls1.csv
Strategy2informationCalls0.csv
Strategy1waitingTimesCorporate9.csv
Strategy1waitingTimesCorporate8.csv
Strategy1waitingTimesCorporate7.csv
Strategy1waitingTimesCorporate6.csv
Strategy1waitingTimesCorporate5.csv
Strategy1waitingTimesCorporate4.csv
Strategy1waitingTimesCorporate3.csv
Strategy1waitingTimesCorporate2.csv
Strategy1waitingTimesCorporate14.csv
Strategy1waitingTimesCorporate13.csv
Strategy1waitingTimesCorporate12.csv
Strategy1waitingTimesCorporate11.csv
Strategy1waitingTimesCorporate10.csv
Strategy1waitingTimesCorporate1.csv
Strategy1waitingTimesCorporate0.csv
Strategy1waitingTimesConsumer9.csv
Strategy1waitingTimesConsumer8.csv
Strategy1waitingTimesConsumer7.csv
Strategy1waitingTimesConsumer6.csv
Strategy1waitingTimesConsumer5.csv
Strategy1waitingTimesConsumer4.csv
Strategy1waitingTimesConsumer3.csv
Strategy1waitingTimesConsumer2.csv
Strategy1waitingTimesConsumer14.csv
Strategy1waitingTimesConsumer13.csv
Strategy1waitingTimesConsumer12.csv
Strategy1waitingTimesConsumer11.csv
Strategy1waitingTimesConsumer10.csv
Strategy1waitingTimesConsumer1.csv
Strategy1waitingTimesConsumer0.csv
Strategy1informationCalls9.csv
Strategy1informationCalls8.csv
Strategy1informationCalls7.csv
Strategy1informationCalls6.csv
Strategy1informationCalls5.csv
Strategy1informationCalls4.csv
Strategy1informationCalls3.csv
Strategy1informationCalls2.csv
Strategy1informationCalls14.csv
Strategy1informationCalls13.csv
Strategy1informationCalls12.csv
Strategy1informationCalls11.csv
Strategy1informationCalls0.csv
Strategy1informationCalls1.csv
Strategy1informationCalls10.csv
